@charset "utf-8";

.work {
    height: 360px !important;
    margin-bottom: 30px;
}
.work .card-img-top {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.work .card-img-top img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);    
}