@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

ul {
    list-style: none;
}

#box {
    width: 300px;
    height: 200px;
    background-color: red;
    position: absolute;
    /* left: calc(50% - 150px); */
/* calc - 계산함수 연산자 좌우는 무조건 띄워야함 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
/* translate():()안은 브라우저가 아닌 자기 자신이 기준이됨 */
}
/* position: absolute;
left: 50%;
top: 50%
transform: translate(-50%, -50%);  absolute 가운데로 보내기 신공
***********************매우 중요!!!***********/

#box2 {
    background-color: rgba(64,114,150,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100; /* fixed가 가로막고있어 우선순위 후로 둠 */
}

#box3 {
    width: 500px;
    height: 300px;
    background-color: yellow;
    position: relative;
}
#box4 {
    width: 200px;
    height: 100px;
    background-color: greenyellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#box5 {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
#box5 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#pan {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding-top: 85px;
    display: none;
}
#box5:hover #pan {
    display: block;
}